.a{
    font-size: 40px;
    color:rgb(139, 208, 231);
    background-color: rgb(252, 237, 237);
    text-align: center;
    /* text-align: center; */
    /* justify-content: center; */
    /* 置中 */
}       
.linkcenter{
    display: inline;
    font-size: 30px;
    color:rgb(71, 77, 0);
    background-color: rgb(167, 243, 248);
    display: flex;
    justify-content: center;
    /* 垂直置中 */
    align-items:center;
    /* 水平置中 */
    /* flex-wrap:nowrap; */
    /* 變同一行 */

}
.imgcenter{
    display: flex;
    justify-content: center;
    /* 置中 */
    /* flex-wrap:nowrap; */
    /* 變同一行 */

}
nav{
    background-color: rgb(6, 80, 58);
    text-align:center;   
    font-size: 40px;
}
nav a{
    color: rgb(151, 216, 253);
    text-decoration: rgb(235, 75, 57);
    display: inline-block;
    padding: 10px 100px;
    transition: 0.7s;
    background-color: teal;
}
nav a:hover{
    background-color: wheat;
    color: tomato;
}


/* 水平置中 */
.section-flex {
    display: flex;
    justify-content: center;
  }
.section-block {
    width: 5%;
    height: 100px;
  
  }