.a {
    font-size: 40px;
    color: rgb(139, 208, 231);
    background-color: rgb(0, 109, 234);
    text-align: center;
    /* text-align: center; */
    /* justify-content: center; */
    /* 置中 */
}

.linkcenter {
    display: inline;
    font-size: 30px;
    color: rgb(71, 77, 0);
    background-color: rgb(167, 243, 248);
    display: flex;
    justify-content: center;
    /* 垂直置中 */
    align-items: center;
    /* 水平置中 */
    /* flex-wrap:nowrap; */
    /* 變同一行 */
}

.imgcenter {
    display: flex;
    justify-content: center;
    /* 置中 */
    /* flex-wrap:nowrap; */
    /* 變同一行 */
}

nav {
    background-color: rgb(195 245 230);
    text-align: center;
    font-size: 40px;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-evenly;
    align-content: flex-start;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
}

nav a {
    color: rgb(58, 176, 245);
    text-decoration: rgb(235, 75, 57);
    display: inline-block;
    padding: 10px 100px;
    transition: 0.7s;
    background-color: rgb(206, 248, 248);
}

nav a:hover {
    background-color: wheat;
    color: tomato;
}


/* 水平置中 */

.section-flex {
    display: flex;
    justify-content: center;
}

.section-block {
    width: auto;
    height: auto;
}

.box {
    width: 960px;
    margin: auto;
}

body {
    margin: 0;
    padding: 0;
}


/* .float-img {
    float: none;
    margin: auto;
    padding: 2px 650px;
} */

/* .container {
    width: fit-content;
    margin: 0 auto;
} */
.container, .container-lg, .container-md, .container-sm {
    max-width: 960px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.card {
    /* 設定父親定位點 */
    position: relative;
    width: 270px;
    float: left;
    margin: 10px;
}

.img2 {
    display: inline;
    width: 100%;
    height: auto;
}

.info {
    /*   display: none; */
    opacity: 0;
    position: absolute;
    box-sizing: border-box;
    background-color: rgba(0, 0, 0, .3);
    top: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    padding-top: 40px;
    -webkit-transition: .5s ease-out;
}

.info p {
    color: #fff;
}

.info:hover {
    /*   -webkit-transition: 500ms; */
    margin-top: 0;
    opacity: 1;
}


.body2, .html2 {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
  }
  
  .video-container {
    position: relative;
    height: 100%;
  }
  
  #myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: 1; /* 將影片放在最上層 */
  }
  
  .content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    z-index: 2; /* 將內容放在影片上層 */
  }
  

  @-webkit-keyframes shadow-drop-2-center {
    0% {
      -webkit-transform: translateZ(0);
              transform: translateZ(0);
      -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
              box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    }
    100% {
      -webkit-transform: translateZ(50px);
              transform: translateZ(50px);
      -webkit-box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
              box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
    }
  }
  @keyframes shadow-drop-2-center {
    0% {
      -webkit-transform: translateZ(0);
              transform: translateZ(0);
      -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
              box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    }
    100% {
      -webkit-transform: translateZ(50px);
              transform: translateZ(50px);
      -webkit-box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
              box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
    }
  }

  .shadow-drop-2-center {
	-webkit-animation: shadow-drop-2-center 0.4s linear 5s both;
	        animation: shadow-drop-2-center 0.4s linear 5s both;
}

.rounded-box {
    width: 200px;
    height: 100px;
    background-color: #3498db;
    color: #ffffff;
    padding: 20px;
    border-radius: 15px; /* 圓角半徑 */
  }
  @-webkit-keyframes color-change-5x {
    0% {
      background: #a1f8fe;
    }
    25% {
      background: #d69df6;
    }
    50% {
      background: #ffa1a1;
    }
    75% {
      background: rgb(249, 229, 165);
    }
    100% {
      background: #b2f69d;
    }
  }
  @keyframes color-change-5x {
    0% {
      background: #9cf1f8;
    }
    25% {
      background: #d9a0fa;
    }
    50% {
      background: #e09e9e;
    }
    75% {
      background: #f0dea4;
    }
    100% {
      background: #b2f29f;
    }
  }
  .color-change-5x {
	-webkit-animation: color-change-5x 8s linear infinite alternate both;
	        animation: color-change-5x 8s linear infinite alternate both;
}